<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- Root Context: defines shared resources visible to all other web components -->
	<!-- uploadfile을 설정해주는 multipartResolver -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10000000"/>  <!-- 최대 업로드 가능한 byte 크기 -->
		<property name="defaultEncoding" value="UTF-8"/>   <!-- 캐릭터 셋 UTF-8지정 (아무것도 없을 시 ISO-8859-1 지정됨) -->
	</bean>		
</beans>
