<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="lee" class="com.test03.Address">
		<property name="name" value="이순신" />
		<property name="addr" value="강남구" />
		<property name="phone" value="123-123" />
	</bean>
	<bean id="hong" class="com.test03.Address">
		<property name="name" value="홍길동" />
		<property name="addr" value="수원시" />
		<property name="phone" value="234-234" />
	</bean>


</beans>
