<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="emp">

<resultMap type="empDto" id="empMap">
	<result property="empno" column="empno"/>
	<result property="ename" column="ename"/>
	<result property="job" column="job"/>
	<result property="mgr" column="mgr"/>
	<result property="hiredate" column="hiredate"/>
	<result property="sal" column="sal"/>
	<result property="comm" column="comm"/>
	<result property="deptno" column="deptno"/>	
</resultMap>

<select id="selectAll" resultMap="empMap">
SELECT * 
FROM EMP
ORDER BY EMPNO DESC
</select>

</mapper>
