<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>	<!-- 서블릿 등록 -->
		<servlet-name>appServlet</servlet-name>	<!-- 서블릿 별칭 -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> <!-- 서블릿명(패키지 이름을 포함한 전체 서블릿명) -->
		<init-param>	<!-- 초기 파라미터 -->
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value> <!-- 스프링 설정파일(스프링 컨테이너) -->
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>	<!-- 서블릿 별칭 -->
		<url-pattern>/</url-pattern><!-- /맵핑명 -->
	</servlet-mapping>

</web-app>
