<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mymember">

	<resultMap type="memberDto" id="memberMap">
		<result property="memberno" column="MEMBERNO"></result>
		<result property="memberid" column="MEMBERID"></result>
		<result property="memberpw" column="MEMBERPW"/>
		<result property="membername" column="MEMBERNAME"/>
	</resultMap>
	
	<select id="login" parameterType="memberDto" resultType="memberDto">
		SELECT MEMBERNO, MEMBERID, MEMBERPW, MEMBERNAME
		FROM MYMEMBER
		WHERE MEMBERID = #{memberid}
	</select>
	
	<insert id="insert" parameterType="memberDto">
		INSERT INTO MYMEMBER
		VALUES (MEMBERSEQ.NEXTVAL, #{memberid}, #{memberpw}, #{membername} )
	</insert>
	
	
 
</mapper>
