<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>List</h1>

	<table border="1">
		<tr>
			<th>NO</th>
			<th>Name</th>
			<th>Title</th>
			<th>Date</th>
		</tr>
		<tr th:if="${list.size() == 0}">
			<td colspan="4">-------no post here-------</td>
		</tr>
		<tr th:unless="${list.size() == 0}" th:each="dto:${list}">
			<td th:text="${dto.myno}">myno</td>
			<td th:text="${dto.myname}">myname</td>
			<td><a th:href="|@{/member/detail}?myno=${dto.myno}|" th:text="${dto.mytitle}">mytitle</a></td>
			<td th:text="${dto.mydate}">mydate</td>
		</tr>
		<tr>
			<td colspan="4">
				<input type="button" th:value="insert" onclick="location.href='insertform'">
			</td>
		</tr>
	</table>


</body>
</html>